
.header {
  background-color: $header-background-color;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  height: $header-height;

  &__title {
    display: flex;
    align-items: center;
  }

  &__title-button {
    background-color: $header-button-background-color;
    box-shadow: none;

    &:hover {
      background-color: $header-button-background-color-hover;
    }

    @media (max-width: $small) {
      margin-top: 0;
    }
  }

  &__title-button-icon {
    color: $header-button-font-color;
  }

  &__title-text {
    color: $header-title-font-color;
    margin-left: 32px;
    font-weight: $fw-lighter;

    @media (max-width: $small) {
      display: none;
    }
  }
}
 

.header-toolbar {
  display: flex;
  align-items: center;

  .unlock-button {
    border-color: $green;
    margin-right: 16px;
    text-transform: uppercase;
    background-color: $green;
    color: white;

    letter-spacing: .0892857143em;
    @media (max-width: $small) {
      display: none;
    }
  }
}


.mat-list-base {
  border-bottom: 1px solid $gray-80;
  width: $sidebar-width;
  padding-bottom: 16px;

  & .mat-list-item {
    display: flex;
    cursor: pointer;
    color: $sidebar-font-color;
    width: auto;
    padding-left: 4px;

    &.active {
      color: $sidebar-font-color-active;
      background-color: $sidebar-background-color-active;
      outline: none;

      & .mat-icon {
        color: $sidebar-icon-color-active;
      }

      & .circle {
        background-color: $sidebar-icon-color-active;
      }
    }

    &:hover {
      background-color: $sidebar-background-color-hover;
    }

    &:focus {
      outline: none;
    }
  }
}

.mat-icon {
  margin-right: 15px;
  color: $sidebar-icon-color;
} 

.sidebar-title {
  color: $sidebar-title-color;
  font-size: 14px; 
  margin-top: 32px;
  margin-left: 24px;
  margin-bottom: 16px;

  color:rgba(0, 0, 0, 0.54);
  font-weight:600;
  font-size: small;
  background-color:#f5f7f7
}

.mat-list-base .mat-list-item.ui-element {
  padding-left: 40px;
}

.circle {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: $sidebar-circle-color;
  margin-right: 30px;
}

.project-circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 15px;
  margin-left: 8px;

  &_yellow {
    background-color: $yellow;
  }

  &_blue {
    background-color: $blue;
  }

  &_pink {
    background-color: $pink;
  }
}
 
.employee-table-wrapper {
  padding-left: 0;
  padding-right: 0;
  margin: 16px 16px 32px 16px;
  
  &__header {
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $small) {
      padding: 0 16px;
    }
  }

  &__title {
    margin: 0;
  }

  &__search {
    display: flex;
    align-items: center;
  }

  &__icon-wrapper {
    height: 46px;
    width: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    color: inherit;
  }

  &__search-input {
    font-size: $fs-normal;
    height: 32px;
    border: 0;
    border-bottom: 1px solid $grey;
    outline: none;

    @media (max-width: $small) {
      width: 150px;
    }

    &:focus {
      border-bottom: 2px solid $blue;
    }
  }

  &__button {
    box-shadow: none;
    background-color: inherit;
    width: 46px;
    height: 46px;
    color: $grey;

    &:hover {
      background-color: $black-08;
      color: $blue;
    }
  }
} 
 

.mat-card {
  color: $card-font-color;
  margin: 16px;
}

.mat-card-title p {
  font-size: 21px;
  font-weight: 400;
  color: $card-title-font-color;
}

mat-toolbar.page-header {
  display: flex;
  justify-content: space-between;
  padding: 50px 24px 16px 24px;
  background: none;
  height: auto;

  @media (max-width: $small) {
    flex-direction: column;
    align-items: baseline;
  }
}

.mat-toolbar h1 {
  font-weight: 400;
  font-size: 38.4px;
  color: $toolbar-title-font-color;
  line-height: 1;
  letter-spacing: -0.2186px;

  @media (max-width: $small) {
    white-space: normal;
  }
}

.mat-toolbar button {
  height: 41.6px;
  width: auto;
  line-height: 1.75;
  font-size: 0.9375rem;
  font-weight: 400;

  @media (max-width: $small) {
    margin-top: 16px;
  }
}

 
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}
